body{
    background-color: #050020;
}

button{
    position: fixed;
    width: 50vh;
    height: 50vh;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #050020;
    border-radius: 50px;
    border: none;
    cursor: pointer;

    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: goingup;
    animation-timing-function: ease-in-out;
}
@keyframes goingup{
    0%{

    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}